body{
    margin: 0;
    padding: 0;
     background-image: linear-gradient(86deg, #0000, #488888);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;

min-height: 100vh;
}
.box{
    width: 300px;
    background: rgba(254, 36, 36, 0.244);
    border-radius: 10px;   
    
}
.atribuicao{
    height: 500px;
    width: 300px;
    text-align: center;
}
